.header
    .container
        section.header__top
            .header__info
                a(href="#!").header__info-link Для мужчин
                a(href="#!").header__info-link Для женщин
                a(href="#!").header__info-link Для детей
            a(href="index.html").logo
                img(src="img/logo.png" alt="logo").logo__img
                p.logo__text THE LOOP
            .header__info
                a(href="#!").header__info-link Оплата
                a(href="#!").header__info-link Доставка
            .header__info

                button.header__button
                    span(class="material-icons button__icon") shopping_basket
                .header__info-counter 


